html,
body {
  padding: 0;
  margin: 0;
}
body [class^='mat-'], body [class*=' mat-'] {
  font-family: 'Poppins', sans-serif;
}

body .material-icons {
  font-family: 'Material Icons';
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Button */

button.MuiButton-containedSecondary:hover {
  background-color: #FCDF68;
}

button.MuiButton-containedSecondary:active {
  background-color: #DFB714;
}